<footer class="bg-gray-800 text-white w-full bottom-px ">
    <nav class="flex justify-between p-4 ">
      <div class="w-full md:w-1/3 xl:w-1/4 mb-4 md:mb-0">
        <h4 class="text-xs font-bold mb-4">About Blogzz</h4>
        <p class="text-xs">Blogzz is a blogging platform that allows users to share their thoughts and ideas with the world. Our mission is to provide a platform that is easy to use, accessible to everyone, and fosters a community of writers and readers.</p>
      </div>
      <div class="w-full md:w-1/3 xl:w-1/4 mb-4 md:mb-0">
        <h3 class="text-xs font-bold mb-4">Quick Links</h3>
        <ul class="text-sm">
          <li><a href="/" class="hover:text-gray-400">Home</a></li>
          <li><a href="/about" class="hover:text-gray-400">About</a></li>
          <li><a href="/post" class="hover:text-gray-400">Post</a></li>
          <li><a href="/contact" class="hover:text-gray-400">Contact</a></li>
        </ul>
      </div>
      <div class="w-full md:w-1/3 xl:w-1/4 mb-4 md:mb-0">
        <h3 class="text-xs font-bold mb-4">Contact Us</h3>
        <ul class="text-xs">
          <li><a href="mailto:info@blogzz.com" class="hover:text-gray-400">vilehardik@gmail.com</a></li>
          <li><a href="tel:+1234567890" class="hover:text-gray-400">+91 9310898123</a></li>
          <li><a href="/contact" class="hover:text-gray-400">Contact Us</a></li>
        </ul>
        <div class="py-4 text-end">
          <h3 class="text-xs font-bold mb-1">Follow Us</h3>
          <ul class="flex justify-end py-2 text-xs">
            <li><a href="#" class="hover:text-gray-400 px-2"><i class="fab fa-facebook-f fa-sm"></i></a></li>
            <li><a href="#" class="hover:text-gray-400 px-2"><i class="fab fa-twitter fa-sm"></i></a></li>
            <li><a href="#" class="hover:text-gray-400 px-2 "><i class="fab fa-instagram fa-sm"></i></a></li>
            <li><a href="#" class="hover:text-gray-400 px-2"><i class="fab fa-linkedin-in fa-sm"></i></a></li>
            <li><a href="#" class="hover:text-gray-400 "><i class="fab fa-youtube fa-sm"></i></a></li>
          </ul>
          <hr />
          <p class="text-sm p-1">Copyright © <%= new Date().getFullYear() %></p>
        </div>
      </div>
    </nav>
  </footer>