header {
    color: red;
}
footer {
    color: blue;
}
body {  
    color: black
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
 
  .form-group {
    margin-bottom: 20px;
  
  }

   form group label for {
    margin-right: 100px;
  }
  .form-control {
    width: 50%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  .form-control:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  @media (max-width: 768px) {
    .post-grid {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }